---

---

<header class="help" id="helpContainer">
	<section>
		<h2>KEY BINDINGS</h2>
		<div>
			<p>h &nbsp;&nbsp; show help</p>
			<p>q &nbsp;&nbsp; go back</p>
			<p>j &nbsp;&nbsp; scroll up</p>
			<p>k &nbsp;&nbsp; scroll down</p>
			<p>gg &nbsp; scroll to top</p>
			<p>G &nbsp;&nbsp; scroll bottom</p>
			<p>1-9&nbsp; relative movements</p>
		</div>
	</section>

	<section>
		<h2>SOURCE</h2>
		<div>
			<p>
				<a
					href="https://github.com/bryan-hoang/bryanhoang.dev/"
					target="_blank"
				>
					https://github.com/bryan-hoang/bryanhoang.dev/
				</a>
			</p>
		</div>
	</section>
</header>

<main class="container">
	<section>
		<h2>NAME</h2>
		<div>
			<p>bryan-hoang — Bryan Hoang</p>
		</div>
	</section>

	<section>
		<h2>SYNOPSIS</h2>
		<div>
			<p>
				<span class="command"
					><a href="https://blog.bryanhoang.dev/" target="_blank">bryan-hoang</a
					></span
				>
				[<span class="argument">OPTIONS</span>]
			</p>
		</div>
	</section>

	<section>
		<h2>DESCRIPTION</h2>
		<div>
			<p>
				Full-stack software developer. Open source enjoyer. Split keyboard
				enthusiast. Stays up to date on trendy tech & experiments with terminal
				stuff.
			</p>
		</div>
	</section>

	<section>
		<h2>PROJECTS</h2>
		<div>
			<p>
				<a href="https://github.com/orhun/aoc-cli-node" target="_blank"
					>aoc-cli-node</a
				>
			</p>
		</div>
	</section>

	<section>
		<h2>SUPPORTED EXTENSIONS</h2>
		<div>
			<p>*.sh, *.js, *.ts, *.py</p>
			<p>*.html, *.css, *.rb</p>
		</div>
	</section>

	<section>
		<h2>ENVIRONMENT VARIABLES</h2>
		<div>
			<h3>LANG</h3>
			<p class="indented">en_CA.utf-8</p>
			<h3>CONFIG</h3>
			<p class="indented">
				<a href="https://github.com/bryan-hoang/dotfiles" target="_blank"
					>i3, neovim, wezterm…</a
				>
			</p>
			<h3>CONTENT</h3>
			<p class="indented">
				<a href="https://github.com/bryan-hoang" target="_blank">github</a>,
				<a href="https://blog.bryanhoang.dev" target="_blank">blog</a>,
			</p>
		</div>
	</section>

	<section>
		<h2>SEE ALSO</h2>
		<div>
			<p>
				<a href="mailto:bryan@bryanhoang.dev" target="_blank">email</a>(4),
				<a href="https://www.linkedin.com/in/bryan-c-hoang/" target="_blank"
					>linkedin</a
				>(4),
				<a href="https://twitter.com/bryan_c_hoang/" target="_blank">twitter</a
				>(4),
			</p>
		</div>
	</section>

	<section>
		<h2>KNOWN BUGS</h2>
		<div>
			<p>Doesn't use Arch Linux.</p>
		</div>
	</section>
</main>

<footer id="line-counter">&nbsp;Manual page bryan-hoang(1) 0%</footer>

<style>
	* {
		box-sizing: border-box;
	}
	body {
		font-family: 'Roboto Mono', monospace;
		font-size: 1em;
		background-color: #1a1c20;
		filter: invert(100%);
	}
	@keyframes intro {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	div.main {
		animation: intro 0.3s both;
		animation-delay: 0.15s;
	}
	div.help {
		animation: intro 0.3s both;
		animation-delay: 0.15s;
		display: none;
	}
	a:hover {
		background-color: #1a1c20;
		color: #fff;
	}
	div.container {
		max-width: 45em;
		margin: 0 auto;
		padding: 0 1rem;
	}
	h1,
	h2,
	h3,
	p {
		font-size: 1em;
		margin-top: 0;
		margin-bottom: 0;
	}
	.command,
	.argument {
		font-weight: bold;
	}
	div.container div h1 {
		font-weight: normal;
	}
	div,
	p.indented {
		margin-bottom: 1em;
	}
	div.section div {
		margin-left: 4em;
	}
	p.indented {
		margin-left: 2em;
	}
	a {
		color: black;
		font-weight: bold;
		text-decoration: none;
	}
	::-moz-selection {
		color: #e5e3df;
		background: #1a1c20;
	}
	::selection {
		color: #e5e3df;
		background: #1a1c20;
	}
	footer {
		background-color: #1a1c20;
		color: white;
		text-align: left;
		padding: 1px;
		position: sticky;
		bottom: 0;
		width: 100%;
		z-index: 1;
		max-width: 45em;
		margin: 0 auto;
		animation: intro 0.3s both;
		animation-delay: 0.15s;
	}
</style>
